* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

header nav ul li a:hover {
    color: #f39c12;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px;
  }
  .about, .skills {
    flex: 1 1 45%;
    margin: 10px;
  }
  h1, h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  p {
    line-height: 1.6;
  }
  strong {
    font-weight: bold;
  }
  a {
    color: #6c63ff;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  .skills-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .skill-item {
    background: #e0e0e0;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 14px;
  }

section a{
    color: black;
    text-decoration: none;
    transition: color 0.3s;


}

section a:hover{
    color: #f39c12;
}

.hero {
    padding: 100px 20px;
}

.hero h1 {
    font-size: 2.5rem;
}

.hero p {
    font-size: 1.2rem;
    margin-top: 10px;
}

.section {
    padding: 60px 20px;
    text-align: center;
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.projects-container {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    flex-wrap: wrap;
}

.project {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    padding: 20px;
}

.project img {
    width: 100%;
    border-radius: 8px;
}

.project h3 {
    margin-top: 15px;
    font-size: 1.5rem;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
}

form label {
    margin: 10px 0 5px;
}

form input, form textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #f39c12;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}
